<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb">



      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" id="jumbo-title">Cloud Dressing</h1>
          <p class="lead" id="jumbo-subtitle">Fais l'inventaire de ton dressing <span class="fas fa-tshirt fa-sm" style="color:#f6b93b;"></span></p>
          <p class="lead" id="jumbo-subtitle">Met en vente ce dont tu ne te sers plus <span class="fas fa-hand-holding-usd fa-sm"></span></p>
          <p class="lead" id="jumbo-subtitle">Sauve la planète! <span class="fas fa-globe-europe  fa-sm" style="color: #2ecc71;"></span></p>

            <%= link_to "Join The Movement", new_user_registration_path, class:'btn essence-btn', id:"btn-inscription" %>

        </div>
      </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                      <blockquote>
                          <h6><i class="fas fa-tshirt" style="color:#f6b93b;" aria-hidden="true"></i> Chaque année, l'industrie de la mode utilise 93 milliards de mètres cubes d'eau - assez pour répondre aux besoins de consommation de cinq millions de personnes.Environ 20% des eaux usées dans le monde proviennent de la teinture et du traitement des tissus. 87% des fibres utilisées pour les vêtements sont incinérés ou termine dans une décharge. 100 milliards de vêtements produits par an. L'industrie de la mode est responsable de 10% des émissions annuelles mondiales de carbone, plus que tous les vols internationaux et le transport maritime combinés. 114€ d'habits jamais portés dans chaque logement (soit 70% de notre garde-robe). 93% des vêtements possédés ne sont pas portés depuis 1 an et la majorité des vêtements possédés ne sont portés que 7 à 10 fois. L'équivalent d'une benne de vêtements est détruite chaque seconde. Chaque année, un Français achète 9kg de vêtements et en donne 3kg.</h6>
                      </blockquote>

                        <p>Notre projet démarre à la base d'un constat simple et effrayant : À ce jour, l’industrie de la mode est l’une des plus polluantes au monde.</p>




                        <blockquote>
                            <h6><i class="fas fa-globe-europe" style="color:#2ecc71;" aria-hidden="true"></i>« Mais dis donc Jamy? Comment renverser la tendance? »</h6>

                        </blockquote>



                           <p>Afin de que tout le monde puisse mettre la main à la pâte, nous avons créé l'application Cloud Dressing. Elle te permettra de gérer ton dressing de manière simple et de mettre en vente en un clic les vêtements dont tu veux te séparer. Ce n'est pas parce que ce n'est plus à ton gout que ca ne convient pas à un de tes amis! Gagne de l'argent en vendant ce dont tu ne te sers pas et ainsi offre une seconde (ou une troisième) vie aux fripes que tu ne porteras plus.</p>

                           <p class="lead">
                             Pour commencer c'est simple:
                              Inscris toi, fais l'inventarire de tes vêtements sur la plateforme, et mets les en vente en un clic!

                           </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->
