  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.all.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%=link_to user.first_name, user_path(user.id) %></td>
          <td><%=link_to user.last_name, user_path(user.id) %></td>
          <td><%=link_to user.email, user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
